# dependencies
node_modules/
package-lock.json

# build output (except for gh-pages)
# .gitkeep

.vite/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Capacitor
android/
ios/
capacitor.config.*

# misc
*.log
npm-debug.log*
